* {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body, h1, h2, h3, button, a {
  color: black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.container {
  width: 100%;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.pokemon__image_wrapper {
  width: 100px;
  height: 100px;
}

.pokemon__image {
  width: 100%;
  height: 100%;
}

.flex-row {
  background-color: white;
  padding: 8px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.margin {
  margin: 0.01em 16px;
  padding: 0;
}

.form-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-flex * {
  margin: 5px;
}

.button {
  font-size: 16px;
  width: 100px;
  border: 2px solid black;
}

input {
  font-size: 16px;
  padding: 8px 16px;
}

@media screen and (min-width: 430px) {
  .container {
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .form-flex {
    flex-direction: row;
  }

  .profile {
    min-height: 226px;
  }

  .stats {
    min-height: 660px;
  }
}