* {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
}

.icon {
    width: 3.125rem;
    height: 3.125rem;
}

.icon img {
    max-height: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
}

#active-page {
    background-color: rgba(235, 235, 235, 0.5);
}

.navbar-burger {
    width: 4.125rem;
    height: 4.125rem;
}

.quote {
    margin-top: 0.32rem;
    margin-left: 0.32rem;
    padding-left: 0.62rem;
    border-left: 2px solid #dbdbdb;
}

main {
    background-image: url('../images/background.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 4.1875rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home {
    padding: 2.5rem;
    border-radius: 0.625rem;
    background: white;
    margin: 1.25rem;
    box-shadow: 0 0 10px 3px #4a4a4a;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
}

.home__randomContent {
    max-width: 25rem;
    margin-bottom: 2rem;
}

.home form {
    display: flex;
    flex-direction: column;
}

.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid black;
}

.absolute-icon {
    margin: 0.3rem;
    width: 3.125rem;
    height: 3.125rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.19rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media screen and (min-width: 500px) {
    .home__randomContent {
        min-width: 25rem;
    }
    .home form {
        flex-direction: row;
        max-width: 37.5rem;
    }
    .home .control {
        width: calc(100% - 4.53rem);
    }
    .home button {
        margin-left: 0.625rem;
        margin-top: 0;
    }
}